@media (max-width: 400px) {
    /* styles */
    div{
      width: 80%;
      height: auto;
    }

}
body{
  padding: 0;
  margin: 0;
  background-color: #FFffef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.card{
  background-color:#FFF28C ;
  position: relative;
  width:80%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
  
}
h1{
  color:#A94A4A;
  font-family: paprika;
  text-align:center;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}
h3{
  color:#B6771D;
  font-family: Dancing script;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0px;
}
.content{
  font-family:Comic Relief;
  text-align: left;
}
.sign{
  text-align: right;
  font-family: Dancing script;
  font-size: 1.5em;
  color:#b6771f;
}
